<% include head.ejs%>
  <style>
    .slick-prev:before {
      color: #000;
    }
    .slick-next:before {
      color: #000;
    }
    .slick-slider {
      height: 750px;
      width: 100%;
      margin-left: 0px;
      display: block;
    }
  </style>
    <div id='root'></div>
    <script src="/dist/bundle.js"></script>

<% include foot.ejs%>