<% include head.ejs%>

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Login</h1>

        <% if (message.length) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <hr>
        <div>
            Login with any of the following services:<br />
            <a style="margin-left:15px" href="/auth/github"><img style="width:48px" src="/assets/github-mark.png" /></a>
        </div>
        <hr>

        <p>Need to sign up for an account? <a href="/signup">Signup</a></p>
        <p><a href="/">home</a></p>

    </div>

<% include foot.ejs%>