<% include head.ejs%>

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/" class="btn btn-default btn-sm">Home page</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Github linked</h3>

                <% if (user.email) { %>
                <p>
                    <strong>handle</strong>: <%= user.github_handle %><br>
                    <strong>email</strong>: <%= user.email %><br>
                    <strong>Otter id</strong>: <%= user.id %><br>
                    <strong>Otter api_key</strong>: <%= user.api_key %>
                </p>

                <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>

<% include foot.ejs%>