<% include head.ejs%>

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <hr>
        <div>
            Signup with any of the following services:<br />
            <a style="margin-left:15px" href="/auth/github"><img style="width:48px" src="/assets/github-mark.png" /></a>
        </div>
        <hr>

        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>

<% include foot.ejs%>